<div class="parent-body ">
<div class="content-body">
    <div class="row filteration">
        <div class="col-lg-4 col-12">
            <div class="form-group">
              <!-- <input type="text"
                class="form-control" name="" id=""  [(ngModel)]="filterBy" (keyup)="filterCountry($event)"  aria-describedby="helpId" placeholder="🔍 Search for a country">
            </div> -->
            <input type="text"
                class="form-control searchcountry" name="" id=""  [(ngModel)]="searchCountry"  (keyup)="filterCountry($event)" aria-describedby="helpId" placeholder="🔍   Search for a country">
            </div>
        </div>
        <div class="col-lg-2 col-6">
        <div class="form-group">
            <ng-select class="custom" [items]="regionOptions"
                   bindLabel="name"
                   placeholder="Filter By Region"
                   [(ngModel)]="regionSelected"
                   (change)="onRegionSelected(regionSelected)"
                   (clear)="clearFilter()">
            </ng-select>
        </div>
        </div>
    </div>
    <div class="row justify-content-between d-flex fixheight">
          <div class="col-lg-3 col-sm-12 col-12"  *ngFor="let country of countries">
            <div class="card m-3 country-cards border">
                <img src="{{country.flag}}"class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <p class="card-title">{{country.name}}</p>
                  <p class="card-text"><span class="countries-info">Population:</span>{{country.population}}</p>
                  <p class="card-text"><span class="countries-info">Region:</span>{{country.region}}</p>
                  <p class="card-text"><span class="countries-info">Capital:</span>{{country.subregion}}</p>
                  <a  [routerLink]="['/countries', country['alpha3Code']]" class="stretched-link"></a>
                </div>
        </div>
          </div>

        
     
        
    
    </div>   
</div>
</div> 




