.country-card {
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 50px;
    float: left;
 
}
.country-cards{
    
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    
}
.fixheight{
    max-height: 90vh;
    overflow: scroll;
}
.countries-info{
    font-weight: 600;
    font-size: 14px;
    color: hsl(209, 23%, 22%);
}
.card-title{
    font-weight: bold;
    color:  hsl(204, 26%, 4%)
   

}
.card-text{
    font-weight: 500;
    color:  hsl(0, 0%, 52%);
  
    font-size: 14px !important
}
.parent-body{
    background-color: hsl(0, 0%, 98%);  
}
.content-body{
    margin-left:4rem;
    margin-right: 4rem;
   padding-top: 15px;
}
.filteration{
    display: flex;
    justify-content: space-between;
}
.searchcountry{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    
}
.ng-select.custom .ng-select-container  {            
    min-height: calc(3.5em + .75rem + 2px);
    border-radius: 0;
}
[data-theme="dark"] .parent-body{
    background-color: black;
    color: white;
}
[data-theme="dark"] .card{
    background-color: #303030;
    border: 1px solid rgba(0, 0, 0, 0.125);
    
}
[data-theme="dark"] .card-header{
    background-color: #444;
    border: 1px solid rgba(0, 0, 0, 0.125);
    
}

