.heading{
    background-color: white;
    z-index: 10;
    height: 58px;
    box-shadow: 0px 2px 3px 0px rgba(222,213,222,1);
    align-items: center;
    
}



.content-body{
    margin-left:4rem;
    margin-right: 4rem;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 4px 65px !important;
    align-items: flex-end !important;
    box-shadow: 0px 1px 8px 0px rgb(177, 174, 174);
   
}
.navbar-brand{
    display: flex !important;
    flex: 1 !important;
}
@media screen and (max-width: 500px) {
    .mode{
        font-weight: 600;
        margin-right: 4rem;
        font-size: 14px;
        line-height: 3.5;
        }
        .logo{
                white-space: nowrap;
        }
        .mode{
            white-space: nowrap;
        }
        .navbar {
            position: relative;
            display: flex !important;
            
            padding: 0 5px !important;
        }
        .navbar-brand{
            display: flex !important;
          
        }
  }