
   <!-- <div class="heading d-flex justify-content-between justify-content-center">
    <div class="logo"> Where in the world?</div> 
   <div class=" mode custom-control custom-switch">
        <label (click)= "changeTheme()"> <i class="fas fa-moon"></i> {{theme}} </label>
      </div>
    </div> -->

    <nav class="navbar navbar-expand-sm navbar-light bg-white">
      <a class="navbar-brand" href="#">Where in the world?</a>
      <div class="mr-auto">
      <label (click)= "changeTheme()"> <i class="fas fa-moon"></i> {{theme}} </label>
      </div>
    </nav>
    <router-outlet></router-outlet>
  
  
   
  
   

