/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
body{
    font-family: 'Nunito Sans', sans-serif;
}
.light-theme{
    background-color: white !important;
}

.dark-theme{
    background-color: hsl(209, 23%, 22%) !important;
    color: white;
}
.dark-theme .parent-body{
    background-color: black !important;
    color: white;
    
}
.dark-theme .heading{
    background-color: black !important;
    color: white;
}
.dark-theme .card{
    background-color: #303030 !important;
    border: 1px solid rgba(0,0,0,0.125) !important;
    color: white !important;
}
.dark-theme  .countries-info{
    color: white !important;
}
.dark-theme .heading{
    box-shadow: 0px 2px 3px 0px hsl(209, 23%, 22%) !important;
    border: 1px solid rgb(116, 116, 116);
}
.dark-theme .card-title{
    color: hsl(0, 0%, 100%) !important;
}
.dark-theme .counntry-info-title{
    color: hsl(0, 0%, 100%) !important;
}

