/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
body{
    font-family: 'Nunito Sans', sans-serif;
}
.light-theme{
    background-color: white !important;
}

.dark-theme{
    background-color: #2B3945 !important;
    color: white;
}
.dark-theme .parent-body{
    background-color: #2B3945 !important;
    color: white;
    
}
.dark-theme .navbar{
    background-color: #2B3945 !important;
    color: white;
}
.dark-theme .navbar .navbar-brand{
    color: white !important;
}
.dark-theme .card{
    background-color: #303030 !important;
    border: 1px solid rgba(0,0,0,0.125) !important;
    color: white !important;
}

.dark-theme  .countries-info{
    color: white !important;
}

.dark-theme .navbar{
    box-shadow: 0px 3px 8px 0px rgb(15, 15, 15)  !important;
   
}
.dark-theme .card-title{
    color: hsl(0, 0%, 100%) !important;
}
.dark-theme .counntry-info-title{
    color: hsl(0, 0%, 100%) !important;
}

